html{
    font-family:"sans-serif";
    
}
body{
    margin:0%;
    padding: 0%;
}

.title-box
{
   
    height:30px;
    width:100%;
    margin: 0px;
    padding: 10px 0px;
    background-color: #f1eeec;
}
h1.brand
{
    margin: 0%;
    font-size: 25px;
    text-align: center;
    font-style: bold;
}

.logo
{
    fill:#5b5b5b;
    position: fixed;
    top:0;
    left: 0;
}

.navigation
{
    text-align: center; /* have to make a adjustment*/
}

.nav-buttons li{
    display:inline;
    margin :10px;
}